*.iml

*./idea/.name
/.idea/.name
*/.idea/dictionaries/
/.idea/dictonaries/
*/.idea/misc.xml
/.idea/misc.xml

*/.idea/copyright/
/.idea/copyright/

*/.idea/scopes/
/.idea/scopes/

/test-output/
*/test-output/
